@import "~bootstrap/scss/bootstrap";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background-color: beige;

}
header {
  background-color: palegoldenrod;
}

.top_image{
  width: 100%
}

.top_image_lg {
  width: 100%;
}
.top_image_md {
  width: 90%;
  display: none;
}

@media screen and (max-width: 767px) {
  .top_image_lg { display: none; }
  .top_image_md { display: block; }
  .navbar-brand {
    font-size: 1.4em;
  }
}

.form-btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: burlywood;
}

.link-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: wheat;
  color: black;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px wheat;
}

.card-header-news {
  background-color: whitesmoke;
}

.card-header-rest {
  background-color: lightcyan;
}

.card-header-hotel {
  background-color: beige;
}